<div class="container">
    <h2>Agregar Maquinaria</h2>
    <form id="form-maquinaria">
        <label for="maquinaria-name">Nombre de Maquinaria:</label>
        <input type="text" id="maquinaria-name" name="maquinaria-name" required>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion">
        <label for="estado">Estado:</label>
        <select id="estado" name="estado" required>
            <option value="Operativa">Operativa</option>
            <option value="En Mantenimiento">En Mantenimiento</option>
            <option value="Inactiva">Inactiva</option>
        </select>
        <button type="submit">Agregar Maquinaria</button>
    </form>
</div>
